<template>
    <div class="mt-2">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" @change="onFileChange" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">{{nombreArchivo}}</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" @click="generarUrlsArchivo" type="button">Generar</button>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">URL</th>
                    <th scope="col">LINK ACORTADO</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="acortador in listaAcortadoresFile">
                    <th scope="row">{{acortador.id}}</th>
                    <td>{{acortador.url}}</td>
                    <td><a :href="acortador.code">{{acortador.code}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import acortadorService from '../../services/acortadorService'
    export default {
        name: "ArchivoUrlComponent",
        props:{
            error:{
                default: ()=>{},
                type:Object,
            }
        },
        data(){
            return {
                listaAcortadoresFile: [],
                archivo:null,
                nombreArchivo:'',
            }
        },
        methods:{
            generarUrlsArchivo() {
                if(!_.isNull(this.archivo)){
                    var formData = new FormData();
                    formData.append('urls', this.archivo);
                    acortadorService.uploadFileUrl(formData).then((response) => {
                        this.$emit('actualizar', response);
                        this.listaAcortadoresFile = response;
                    }).catch((error)=>{
                        let errors = {mostrar:true, msj:'imposible generar los acortadores, verifique extencion (.txt) o url validas'};
                        this.$emit('update:error', errors);
                        setTimeout(()=>{
                            let errors = {mostrar:false, msj:''};
                            this.$emit('update:error', errors);
                        }, 3000);
                        console.warn(error)
                    });
                }
            },

            onFileChange (e){
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.nombreArchivo = files[0].name;
                this.archivo = files[0];
            },
        }

    }
</script>

<style scoped>

</style>