<template>
    <div>
        <div v-if="error.mostrar" class="col-md-12 alert alert-danger" role="alert">
            {{error.msj}}
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="url-tab" data-toggle="tab" href="#urls" role="tab" aria-controls="urls" aria-selected="true">URL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">ARCHIVO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">LISTADO</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="urls" role="tabpanel" aria-labelledby="urls-tab">
                <crear-acortador :error.sync="error" @actualizar="sincronizarAcortadores"></crear-acortador>
            </div>
            <div class="tab-pane" id="file" role="tabpanel" aria-labelledby="file-tab">
                <archivo-url :error.sync="error" @actualizar="sincronizarAcortadores" ></archivo-url>
            </div>
            <div class="tab-pane" id="list" role="tabpanel" aria-labelledby="list-tab">
                <lista-acortador :error.sync="error" :lista-acortadores="listaAcortadores"></lista-acortador>
            </div>
        </div>
    </div>
</template>

<script>
    import crearAcortadorComponent from './CrearAcortadorComponent'
    import listaAcortadorComponent from './ListaAcortadoresComponent'
    import archivoUrlComponent from './ArchivoUrlComponent'
    import acortadorService from '../../services/acortadorService'
    export default {
        name: "BaseAcortadoresComponent",
        components: {
            'crear-acortador': crearAcortadorComponent,
            'lista-acortador': listaAcortadorComponent,
            'archivo-url':archivoUrlComponent
        },
        data() {
            return {
                listaAcortadores: [],
                error:{
                    mostrar:false,
                    msj:''
                }
            }
        },
        methods: {
            sincronizarAcortadores(acortadores) {
                console.log(acortadores);
                if (_.isEmpty(this.listaAcortadores)) {
                    this.listaAcortadores = acortadores;
                }
                else {
                     _.each(_.cloneDeep(acortadores),(a)=>{
                       let newData =  _.find(this.listaAcortadores,(a2)=>{ return a.url === a2.url});
                       if(_.isUndefined(newData)){
                           this.listaAcortadores.push(a);
                       }
                    });
                }
            },
            obtenerAcortadores() {
                acortadorService.obtenerURLs().then((response) => {
                    this.listaAcortadores = response;
                }).catch((error)=>{
                    this.error.mostrar = true;
                    this.error.msj = 'Error al obtener los acortadores';
                    setTimeout(()=>{this.error.mostrar = false}, 3000);
                    console.log(error)
                });
            },
        },
        mounted(){
            this.obtenerAcortadores();
        }
    }
</script>

<style scoped>
    .colum{
        border: #1b1e21 1px solid;
        background: rgba(108, 117, 125, 0);
        color: #1b1e21
    }
</style>