<template>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <template v-for="(acortador, index) in acortadores">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Link</span>
                                    </div>
                                    <input v-model="acortador.url" type="text" class="form-control" placeholder="Http://" aria-label="url" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <label v-if="acortador.code" for="" class="col-md-6 label">url: <a :href="acortador.code">{{acortador.code}}</a> </label>
                        </template>
                        <div class="col-md-12">
                            <a href="javascript:void(0)" @click="crearAcortador">Agregar nuevo acortador</a>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <button @click="generarAcortador" class="ml-2 mt-2 btn btn-primary col-md-3">Generar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2" v-if="linkAcortado">
                    <div class="row">
                        <label for="" class="col-md-12 ">Link Generado : <a :href="linkAcortado">{{linkAcortado}}</a> </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import acortadorService from '../../services/acortadorService'
    export default {
        name: "CrearAcortadorComponent",
        props:{
          error:{
              default: ()=>{},
              type:Object,
          }
        },
        data(){
            return {
                acortadores:[{id:'', url:''}],
                linkAcortado:'',
                listaAcortadores:[],
                peticion:{
                    error:false,
                    msj:''
                },
            }
        },
        methods:{
            generarAcortador(){
                let urlLimpias = _.reject(_.cloneDeep(this.acortadores), (p)=>{return _.isEmpty(p.url)});
                let urls = _.map(urlLimpias, (u)=>{return u.url;});
                if(_.isEmpty(urls))
                    return false;
                let request = { url:  urls};
                acortadorService.generarAcortadorURLs(request).then((response)=>{
                    this.acortadores = _.map(_.cloneDeep(this.acortadores),(a)=>{
                        _.each(response, (a2)=>{
                            if(a.url === a2.url){
                                a.code = a2.code;
                                a.id = a2.id;
                            }
                        });
                        return a;
                    });
                    this.$emit('actualizar', this.acortadores);
                    this.listaAcortadores = this.acortadores;
                }).catch((error)=>{
                    let errors = {mostrar:true, msj:'Imposible generar los acortadores, verifique las url'};
                    this.$emit('update:error', errors);
                    console.log(error.message);
                    setTimeout(()=>{
                        let errors = {mostrar:false, msj:''};
                        this.$emit('update:error', errors);
                        }, 3000);
                    console.warn(error)
                })
            },

            crearAcortador () {
                let acortador = {
                    id:'',
                    url:'',
                    acortador:'',
                };

                this.acortadores.push(acortador);
            }
        },
        mounted(){

        }
    }
</script>

<style scoped>

</style>