<template>
<div>
    <div class="col-md-12 mt-3 mb-2 bg-secondary text-center">
        <h3>Lista de acortadores</h3>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">URL</th>
                <th scope="col">LINK ACORTADO</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="acortador in listaAcortadores">
                <th scope="row">{{acortador.id}}</th>
                <td>{{acortador.url}}</td>
                <td><a :href="acortador.code">{{acortador.code}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
    export default {
        name: "listarAcortadoresComponent",
        props:{
            listaAcortadores:{
              default:()=>[],
              type:Array,
          }
        },
        data(){
            return {
                listado:[],
            }
        },
        methods:{

        }
    }
</script>

<style scoped>
    .colum{
        border: #1b1e21 1px solid;
        background: rgba(108,117,125,0.3);
        color: #1b1e21
    }
</style>